In [1]:
import pandas as pd

In [2]:
test_set = pd.read_csv("../lipika/cleaned_2015_upd", delimiter=',')

In [4]:
print(test_set.shape)
test_set.head()

(346845, 51)

,funded_amnt,int_rate,total_pymnt,annual_inc,dti,loan_status,revol_util,term,term_adj,zip_code,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,amnt,paid
0,0.264706,0.1288,11316.890190,0.009620,0.009449,Fully Paid,0.417,3.0,1.0,644xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,0
1,0.500000,0.0749,19771.097253,0.007895,0.025676,Fully Paid,0.332,3.0,1.0,030xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18000.0,0
2,0.558824,0.0532,21631.724329,0.006842,0.018849,Fully Paid,0.030,3.0,2.0,125xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20000.0,0
3,0.484559,0.1399,13449.650000,0.004184,0.023604,Charged Off,0.523,3.0,0.0,604xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17475.0,1
4,0.588235,0.1344,24473.227622,0.005753,0.012152,Fully Paid,0.268,5.0,1.0,761xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21000.0,0

In [11]:
test_set['Default'] = 0;
test_set.loc[test_set.loan_status == "Fully Paid", "Default"] = 1;
test_set.head()

,funded_amnt,int_rate,total_pymnt,annual_inc,dti,loan_status,revol_util,term,term_adj,zip_code,...,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,amnt,paid,Default
0,0.264706,0.1288,11316.890190,0.009620,0.009449,Fully Paid,0.417,3.0,1.0,644xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,0,1
1,0.500000,0.0749,19771.097253,0.007895,0.025676,Fully Paid,0.332,3.0,1.0,030xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18000.0,0,1
2,0.558824,0.0532,21631.724329,0.006842,0.018849,Fully Paid,0.030,3.0,2.0,125xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20000.0,0,1
3,0.484559,0.1399,13449.650000,0.004184,0.023604,Charged Off,0.523,3.0,0.0,604xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17475.0,1,0
4,0.588235,0.1344,24473.227622,0.005753,0.012152,Fully Paid,0.268,5.0,1.0,761xx,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21000.0,0,1

In [10]:
test_set.Default.mean()

0.7772607360636595